numpy==1.25.1
polars==0.18.8
matplotlib==3.7.2
pandas==2.0.3
seaborn==0.12.2
plotly==5.15.0
tenacity==8.2.2
scikit-learn==1.3.0
xgboost==1.7.6
pandas_ta==0.3.14b0
backtesting ==0.3.3

statsmodels==0.14.0